
/* font import */
@font-face {
    font-family: "Raleway bold";
    src: url("../assets/fonts/Raleway-Bold.ttf");
}


@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

section {
    min-height: 100%;
}

#top_heading {
    background-image: url("../assets/imgs/head_background.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#title_container {
    width: 100%;
    padding: 15%;
}

.title {
    font-family: "Raleway bold";
    color: #707070;
    font-size: 3em;
    font-weight: bold;
}

#typed {
    color: red;
}

#subtitle {
    font-family: "poppins";
}

.section_title {
    text-align: center;
    margin: 3%;
}

p {
    font-family: "Raleway bold";
    color: #707070;
}

.separator {
    
    background-color: #1361C6;
}

.separator-text {
    color: white;
}

#wild {
    background: no-repeat center url("../assets/imgs/wild_background.png");
    background-size: 30%;
    /* background-size: cover; */
    height: 900px;
}

#wild_logo {
   
    width: 15%;
}

#wild-button {
    background-color: #F76C6C;
    color: white;
    margin-top: 10%;
}
.separator-logo-resize {
width: 145px;
}
.separator-logo {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.card-element {
    font-family: "Raleway bold";
    height: 350px;
    width: 18rem;
}

.card-icon-logo {
    object-fit: fill;
}

.card-icon-image {
  object-fit: fill;
}

.img-card-container {
    display: flex;
    justify-content: center;
    max-height: 40%;

}